.container {
  background-color:var(--secondaryBackgroundColor);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  max-width: 250px;
  height: 300px;
  justify-content: flex-start;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.buttonsContainer {
  display: flex;
  gap: 5px;
}

.icon {
  align-self: center;
}

.toolsButton {
  color:var(--primaryTextColor);
}

.penwidth {
  border: 0 solid rgb(255, 255, 255);
  background-color: inherit;
}

.penwidthInput {
  width: 100%;
}

.colorPickerButton {
  border: 0;
  background: transparent;
}

.toolsButton:hover,
.pen,
.circle,
.line,
.rectangle {
  background-color: var(--primaryButtonBackgroundColor);
  color: white;
}
