.title {
  color: rgb(41, 51, 86);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.btn {
  width: 50%;

  &_primary {
    background-color: black;
  }
}

.input {
  width: 100%;
}
