:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[data-theme='light'] {
  --primaryBackgroundColor: #f5f5f5;
  --secondaryBackgroundColor: #ffffff;
  --primaryTextColor: #000000;
  --primaryButtonBackgroundColor: #1d243c;

  --hoverLinkColor: #535bf2;

  --primaryBoxShadow: -4px 5px 20px 5px rgba(210, 222, 233, 0.555);
}

body[data-theme='dark'] {
  --primaryBackgroundColor: #0e111f;
  --secondaryBackgroundColor: #0e111f;
  --primaryTextColor: #ffffff;
  --primaryButtonBackgroundColor:#292b61;

  --hoverLinkColor: #535bf2;

  --primaryBoxShadow: -4px 5px 20px 5px rgba(14, 37, 62, 0.529);
}

a {
  font-weight: 500;
  color: var(--primaryTextColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--hoverLinkColor);
}

body {
  margin: 0;
  height: 100%;
  color: var(--primaryTextColor);
  background-color: var(--primaryBackgroundColor);
}

h1 {
  font-size: 24px;
}

button {
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--primaryBackgroundColor);
  transition: border-color 0.25s;
}
button:hover {
  color: var(--hoverLinkColor);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--primaryTextColor);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
