.canvas {
  border: 6px solid var(--primaryButtonBackgroundColor);
  background-color: white;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  background: var(--primaryButtonBackgroundColor);
}
