.container {
    width: 350px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: -4px 22px 61px 14px rgba(165, 180, 194, 0.555);
  }